

@import './../../vendor/power-components/livewire-powergrid/dist/tailwind.css';
@import './../../vendor/power-components/livewire-powergrid/dist/bootstrap5.css';
/* @import "../../vendor/power-components/livewire-powergrid/dist/tom-select.css"; */


@tailwind base;
@tailwind components;
@tailwind utilities;


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



*{
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
}
body{
    color: #1B2938;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
}

